/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Label
{
	font-family:宋体;
	font-size:12px;
}

s|TextInput
{
	font-family:宋体;
	font-size:12px;
}